[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
discord = "*"
pymongo = "*"
dnspython = "*"

[dev-packages]

[requires]
python_version = "3.9"
